@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow-x: hidden;
}

nav{
    width: 100vw;
    height: 80px;
    background-color: #06121E;
    color: white;
    display: flex;
}

.navleft{
    width: 50%;
}

.logoImg{
    width: 160px;
    height: 36px;
    margin-top: 22px;
    margin-left: 150px;

}

.navright{
    width: 50%;
}

ul{
    display: flex;
    list-style: none;
    width: 34vw;
    height: 22px;
    margin-top: 30px;
    justify-content: space-between;

}

li{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;
    cursor: pointer;
    margin-right: 50px;

}

.banner{
    width: 100vw;
    height: 77vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: -77vh;
    color: white;
    position: fixed;
}

h1{
    width: 651px;
    height: 156px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78.02px;
    text-align: center;


}

.botoesBanner{
    display: flex;
}

.carrosselBtn{
    width: 11px;
    height: 11px;
    padding: 5px;
    border-radius: 50%;
    margin-right: 7px;
    border: none;
}

.carrossel{
    width: 4480px;
    height: 77vh;

}

.carrosselImg{
    width: 100vw;
    height: 77vh;
    object-fit: cover;
}

