footer{
    width: 100vw;
    height: 35vh;
    background-color: #06121E;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

/* .logo-footer{
    width: 160px;
    height: 36px;

} */

.footer-item{
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.footer-item p{
    width: 16vw;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    line-height: 21.94px;
    text-align: left;

}

.footer-item img{
    width: 25px;
    height: 18px;
    align-self: center;
    margin-right: 5px;

}

.phone-info{
    display: flex;
}

.last-footer-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes-sociais img{
    width: 2vw;
    height: 3vh;

}

.redes-sociais{
    margin-top: 10px;
}

.footer-mobile{
    display: flex;
}

@media (max-width: 400px){
    .redes-sociais{
        display: none;
    }

    .logo-footer{
        width: 98px;
        height: 22px;

    }

    .footer-mobile{
        display: flex;
        flex-direction: column;
    }
    .footer-item{
        width: 182px;
        height: 45px;

    }
    .footer-item p{
        width: 146px;
        height: 45px;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        text-align: left;
    }
    .last-footer-item{
        align-items: flex-start;
    }
}