@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow-x: hidden;
}

.banner{
    width: 100vw;
    height: 77vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: -77vh;
    color: white;
    position: absolute;
}

.tituloHome{
    width: 651px;
    height: 156px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    line-height: 78.02px;
    text-align: center;


}

.botoesBanner{
    display: flex;
    transform: translateY(100px);
}

.carrosselBtn{
    width: 11px;
    height: 11px;
    padding: 5px;
    border-radius: 50%;
    margin-right: 7px;
    border: none;
    cursor: pointer;
}

.carrossel{
    width: 4480px;
    height: 77vh;
    transition: transform 0.5s ease;

}

.carrosselImg{
    width: 100vw;
    height: 77vh;
    object-fit: cover;
}

section{
    width: 100vw;
}

@media (max-width: 700px){
    .tituloHome{
        width: 90vw;
        height: 88px;
        font-family: Montserrat;
        font-size: 30px;
        font-weight: 700;
        line-height: 43.88px;
        text-align: center;

    }

}


